/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-03-2019, 13:06:02
    Author     : ahmed
*/

#maincontent {
    margin: 40px;
}
.tablez{
    border: 2px solid violet;
    
}
body{
                background-color: lightgoldenrodyellow;
                margin: 80px 80px 100px 100px;
            }
            div#head{
                position: fixed;
                top: 0px; 
                left: 0px;
                width: 100%;
                color: #333;
                background: darkkhaki;
                padding: 25px; 
            }
            div#foot{
                position: fixed;
                bottom: 0px;
                left: 0px;
                width: 100%;
                color: #33;
                background: darkkhaki;
                padding: 8px;
                    
                    
            }
